[user]
	email = darrylforbes2022@u.northwestern.edu
	name = Darryl Forbes
	username = darrylforbes
[core]
	editor = vim
[color]
	ui = auto
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = false
[mergetool]
	keepBackup = false
[credential]
	helper = store
